<section class="glass rounded-2xl p-6 mb-8 shadow-2xl">
    <form action="/tasks" method="post" class="flex flex-col gap-4">
        <div class="flex gap-4">
            <div class="flex-grow">
                <input type="text" name="name" placeholder="What needs doing ?" required
                    class="w-full bg-gray-700 border border-gray-600 rounded-lg px-4 py-2 focus:outline-none focus:border-blue-500">
            </div>
            <div class="w-32 flex-shrink-0">
                <label class="text-[10px] text-gray-400 block mb-1 uppercase">hashtag</label>
                <input type="text" name="hashtag" placeholder="#topic"
                    class="w-full bg-gray-700 border border-gray-600 rounded-lg px-2 py-1 text-sm focus:outline-none">
            </div>
            <div class="w-24 flex-shrink-0">
                <label class="text-[10px] text-gray-400 block mb-1 uppercase">half-life</label>
                <input type="number" name="half_life" step="0.5" min="0" value="1"
                    class="w-full bg-gray-700 border border-gray-600 rounded-lg px-2 py-1 text-center focus:outline-none">
            </div>
        </div>
        <div class="flex justify-between items-center">
            <div class="flex items-center gap-6">
                <label class="flex items-center gap-2 cursor-pointer group">
                    <input type="checkbox" name="is_recurrent" value="true"
                        class="form-checkbox h-5 w-5 text-blue-600 rounded border-gray-600 bg-gray-700">
                    <span class="text-sm text-gray-400">Recurrent</span>
                </label>
                <div class="flex flex-col">
                    <span class="text-[10px] text-gray-500 uppercase mb-1">Difficulty</span>
                    <div class="flex flex-row-reverse justify-end star-rating text-xl">
                        <input type="radio" id="star3" name="difficulty" value="3" class="hidden" /><label for="star3"
                            class="cursor-pointer text-gray-600 px-0.5">★</label>
                        <input type="radio" id="star2" name="difficulty" value="2" class="hidden" /><label for="star2"
                            class="cursor-pointer text-gray-600 px-0.5">★</label>
                        <input type="radio" id="star1" name="difficulty" value="1" class="hidden" checked /><label
                            for="star1" class="cursor-pointer text-gray-600 px-0.5">★</label>
                    </div>
                </div>
            </div>
            <button type="submit"
                class="bg-emerald-600 hover:bg-emerald-700 text-white font-medium py-2 px-6 rounded-lg transition-transform active:scale-95">
                Add Task
            </button>
        </div>
    </form>
</section>